* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.dvd {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: relative;
    border: 1px solid #111;
}

.dvd img {
    display: block;
    width: 8%;
    height: 60px;
    position: absolute;
    animation: 
    video1 5s linear 0s infinite alternate, 
    video2 6s linear 0s infinite alternate;
}

@keyframes video1 {
    from {
        left: 0;
        background-color: pink;
    }

    to {
        left: 92%;
        background-color: purple;
    }
}

@keyframes video2 {
    from {
        top: 0;
        background-color: lightblue;
    }

    to {
        top: 92%;
        background-color: lightgreen;
    }
}